<div id="checkin_page">
	<div id="reminder_list_header">
		<h2>Edit Settings</h2>
	</div>
	<div id="reminder_list">
	<% form_for(@user, :url => {:controller => 'home', :action => 'update_settings'}) do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name %>
	  </p>
	  <p>
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name %>
	  </p>
	  <p>
	    <%= f.label :phone_number %><br />
	    <%= f.text_field :phone_number %>
	  </p>
	  <p>
	    <%= f.label :email_address %><br />
	    <%= f.text_field :email_address %>
	  </p>
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>
	</div>
</div>
